#overlay{
    position: relative;
    top: -3240px;
    left: 0px;
    pointer-events: none;
    image-rendering: pixelated; 
    visibility: hidden;
    opacity: 0.75;
}
#oversummary{
    outline: none;
}
#offsetX{
    width: 60px;
}
#offsetY{
    width: 60px;
}
#overlayfont{
	font-family:'Comic Sans MS', cursive, sans-serif;
}
#overlaysummary{
	outline: none;
}
#urlSelector{
	width: 90%; 
	height: 5%;
	margin-top: 5%;
}
#fileSelector{
	display: none;
}
